<div layout="column">
  <topnav></topnav>
  <md-content class="md-padding container">
  <header>
    <h1>Find the games you love</h1>
    <md-autocomplete md-items="game in gameSearch(searchText)  | orderBy:'name'"
    md-item-text="game.name"
    md-selected-item="selectedItem"
    md-search-text="searchText"
    placeholder="Search for a board game here">
    <span md-highlight-text="searchText">{{game.name}}</span>
    </md-autocomplete>
    <p>Or <a ng-href="/browse">browse</a></p>
  </header>
  <game-summary ng-repeat="game in gameSearch(searchText) | orderBy:'name'">
  </game-summary>
  <p ng-if="searchText.length">Didn't find what you were looking for? <a ng-href="/browse">Browse</a> our full curated list of games!</p>
  </md-content>
  <md-button class="md-fab md-accent recommend-button" aria-label="Get my recommendations">
  <md-tooltip>
  Get my recommendations!
  </md-tooltip>
  <md-icon md-svg-src="bower_components/material-design-icons/content/svg/design/ic_send_24px.svg"></md-icon>
  </md-button>
</div>



<!-- <div layout="row">
 
 <leftnav></leftnav>

  <div layout="column" flex>
    <header class="md-primary">
      <h1>Welcome to Board Gamr!</h1>
      <br/>
      <md-button class="md-raised md-accent" ng-click="recommend()">Recommend!</md-button>
      <md-button class="md-raised md-warn" ng-click="reset()">Reset</md-button>
    </header>
    <md-content class-"md-padding">
    <div layout="row">
      <recommendation ng-repeat="rec in recommendations" flex ng-init="game = rec.game"></recommendation>
    </div>
    </md-content>
    <game-list></game-list>
  </div> -->
 
  <!-- <footer class="footer">
    <div class="container">
      <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
    </div>
  </footer>