<div layout="row">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
  <md-toolbar class="md-primary">
  <h1 class="md-toolbar-tools">Search for some things</h1>
  </md-toolbar>
  <md-content class="md-padding" ng-controller="LeftnavCtrl">
  <md-button ng-click="close()" class="md-primary" hide-gt-md>
  Close Sidenav Left
  </md-button>
  <p hide-md show-gt-md>
  This sidenav is locked open on your device. To go back to the default behavior,
  narrow your display.
  </p>
  <ul>
    <li ng-repeat='theme in themes'>{{theme.name}}</li>
  </ul>
  <ul>
    <li ng-repeat='mechanic in mechanics'>{{mechanic.name}}</li>
  </ul>
  <!-- <p>
  Use the `md-auto-complete` to search for matches from local or remote data sources.
  </p>
  <md-autocomplete
  md-selected-item="ctrl.selectedItem"
  md-search-text="ctrl.searchText"
  md-items="item in ctrl.querySearch(ctrl.searchText)"
  md-item-text="display"
  placeholder="What is your favorite US state?">
  <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
  </md-autocomplete>
  <p>Current search term: "{{ctrl.searchText}}"</p> -->
  </md-content>
  </md-sidenav>
  <div layout="column">
    <header class="home-page-head">
      <h1>Welcome to Board Game Pandora!</h1>
      <br/>
      <md-button class="md-raised md-accent" ng-click="recommend()">Recommend!</md-button>
      <md-button class="md-raised md-warn" ng-click="reset()">Reset</md-button>
    </header>
    <md-content class-"md-padding">
    <div layout="row">
      <md-card class="recommendation" ng-repeat="rec in recommendations" flex ng-init="game=rec.game">
      <h4><a ng-click="openModal(game._id)">{{game.name}}</a> </h4>
      <!-- ({{rec.value}}) -->
      <div ng-if="game.mechanics.length">
        <h5>Mechanics:</h5>
        <ul>
          <li ng-repeat="mechanic in game.mechanics" ng-class="{bold:mechanic.bold, ital:mechanic.ital}">
            {{mechanic.name}}
          </li>
        </ul>
      </div>
      <div ng-if="game.themes.length">
        <h5>Type:</h5>
        <ul>
          <li ng-repeat="theme in game.themes" ng-class="{bold:theme.bold, ital:theme.ital}">
            {{theme.name}}
          </li>
        </ul>
      </div>
      </md-card>
    </div>
    </md-content>
    <game-list></game-list>
  </div>
 
  <!-- <footer class="footer">
    <div class="container">
      <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
    </div>
  </footer>